img {
    width: 40px;
}

#checkbox {
    display: none;
}

 p {
    background-color: lightcoral;
    font-size: 1.5rem;
    padding: 10px;
    width: 300px;
    text-align: center;
   border: 2px solid black;
   box-shadow: 2px 2px 2px rgb(76, 75, 75);
   border-radius: 10px;
}

.content {
    max-height: 0px;
    overflow: hidden;
    
}

#checkbox:checked+.content {
    max-height: 300px;
}